/* @import url("file:///etc/xdg/waybar/style.css"); */

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "JetbrainsMono Nerd Font", monospace, FontAwesome;
}

window#waybar {
  background: rgba(255, 255, 255, 0);
  border: none;
  color: #f8f8f8;
}

#workspaces {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

#workspaces button {
  background-color: rgba(248, 248, 248, 0.1);
  color: #f8f8f8;
  border-radius: 15px;
  border: none;
}

/* 聚焦状态 - 当前使用的workspace */
#workspaces button.focused,
#workspaces button.active {
  background-color: rgba(248, 248, 248, 0.4);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.3);
}

#window {
  padding: 0 5px;
}

.module {
  background-color: rgba(248, 248, 248, 0.2);
  min-width: 60px;
  padding: 0 5px;
  border-radius: 10px;
  margin: 0 8px;
}

#pulseaudio {
  min-width: 130px;
  padding: 0 5px;
}

#clock {
  min-width: 100px;
}
